
h1{
    color: darkorange;
    text-align: center;
}
h2{
    color: rgb(68, 75, 205);
    text-align: center;
}
h3{
    color: rgb(170, 136, 42);
}
video{
    color:  aqua;border-radius: 20%;box-align: center;
}
.video-container {
    margin-top: 10px;
    margin-left: 80px;
}
